.buttonWrapper{
  margin-top: 10px;
  display: grid;
  grid-template-rows: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.formButton{
  height: 25px;
  line-height: 25px;
  text-align: center;
  color:  white;
  font-weight: bold;
  background: #5CCCCC;
}
.formButton:hover{
  background: #009999;
  cursor: pointer;
}