#search-form {
  float: left;
  width: 50%;
  background-color: #ccc;
}
#map {
  float: right;
  width: 50%;
  background-color: #cac;
}
#search-result-grid {
  clear: both;
  background-color: #acc;
}