.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #e5e5e5;
  width: auto;
}
.main-menu li {
  display: inline-block;
  margin-right: -4px;
}
.main-menu a {
  display: block;
  padding: 8px 10px;
  color: #0088cc;
  background-color: #f5f5f5;
  border-left: 1px solid #e5e5e5;
  margin-left:-1px;
}
.main-menu li.active a{
  color: green;}
.main-menu a:hover{
  background: #eeeeee;
}
.workarea-content-paddings{
  padding:0px!important;
}