Комната в &nbsp;
<select name="room_in">
  <option value="hostel">общежитии</option>
  <option value="1">1-к квартире</option>
  <option value="2">2-к квартире</option>
  <option value="3">3-к квартире</option>
  <option value="4">4-к квартире</option>
  <option value="5">5-к квартире</option>
  <option value="6">6-к квартире</option>
  <option value="7">7-к квартире</option>
  <option value="8">8-к квартире</option>
  <option value="9">9-к квартире</option>
  <option value="more">>9-к квартире</option>
</select><br>
Цена от до<br>
Площадь комнаты от до<br>
Этаж от до, не последний<br>
Этажность от до <br>
Тип дома (Кирпичный|Панельный|Блочный|Монолитный|Деревянный)<br>