.offerForm{
  height: 60px;
  width: 50%;
  background-color: lightblue;
  float: left;
}
.offerMap{
  width: 50%;
  background-color: lightgray;
  float: right;
}
.offerResultGrid{
  clear: both;
  width: 100%;
  background-color: lightyellow;
}