<center>
  <button type="button" class="roType" disabled value="room">Комната</button>&nbsp;
  <button type="button" class="roType" disabled value="flat">Квартира</button>&nbsp;
  <button type="button" class="roType" disabled value="house">Дом</button>&nbsp;
  <button type="button" class="roType" disabled value="dacha">Дача</button>&nbsp;
  <button type="button" class="roType" disabled value="plot">Участок</button>&nbsp;
  <button type="button" class="roType" disabled value="comm">Коммерция</button>
</center>
<script>
  $(".roType").click(function(){
		$("#roProperty" ).load( "./templates/"+$("input[name=goal]").val()+$(this).val()+".html" );
		$(".roType").each(function(){
			$(this).prop( "disabled", true);
		});
		$(this).css("font-weight","800");
		$(this).css("color","black");
		//$("#roProperty").html($("input[name=goal]").val()+$(this).val());
	});
</script>